<section class="news-widget section" data-fls-news-widget>
	<div class="news-widget__container">
		<div class="news-widget__news">
			<div class="news-widget__heading">
				<h2 class="news-widget__title">Jaunumi</h2>
				<a class="btn btn--border-blue news-widget__all-link" href="#">Visi jaunumi <svg class="news-widget__button-icon" aria-hidden="true">
						<use href="__spritemap#sprite-chevron"></use>
					</svg></a>
			</div>
			<div class="news-widget__list">
				<article class="news-widget__item">
					<a class="news-widget__image-link" href="#" aria-label="Jauns speciālists Premium Medical komandā">
						<img class="news-widget__image" src="@img/news/news-preview4.jpg" alt="Sieviete parkā paceļ rokas">
					</a>
					<div class="news-widget__item-content">
						<h3 class="news-widget__item-title"><a href="#">Jauns speciālists Premium Medical komandā - sveicam neirologi Dr. Līgu Tatjanu Davidovu!</a></h3>
						<a class="btn btn--border-blue news-widget__more-link" href="#">Sīkāk <svg class="news-widget__button-icon" aria-hidden="true">
								<use href="__spritemap#sprite-chevron"></use>
							</svg></a>
					</div>
				</article>
				<article class="news-widget__item">
					<a class="news-widget__image-link" href="#" aria-label="Premium Medical veselības pārgājiens">
						<img class="news-widget__image" src="@img/news/news-preview2.jpg" alt="Ārsts sēž dārzā">
					</a>
					<div class="news-widget__item-content">
						<h3 class="news-widget__item-title"><a href="#">"Premium Medical" veselības pārgājiens</a></h3>
						<a class="btn btn--border-blue news-widget__more-link" href="#">Sīkāk <svg class="news-widget__button-icon" aria-hidden="true">
								<use href="__spritemap#sprite-chevron"></use>
							</svg></a>
					</div>
				</article>
				<article class="news-widget__item">
					<a class="news-widget__image-link" href="#" aria-label="Premium Medical komandai pievienojas uroloģe">
						<img class="news-widget__image" src="@img/news/news-preview3.jpg" alt="Medicīnas darbiniece sarunājas ar senioriem">
					</a>
					<div class="news-widget__item-content">
						<h3 class="news-widget__item-title"><a href="#">Premium Medical komandai pievienojas uroloģe Dr. Vita Melne!</a></h3>
						<a class="btn btn--border-blue news-widget__more-link" href="#">Sīkāk <svg class="news-widget__button-icon" aria-hidden="true">
								<use href="__spritemap#sprite-chevron"></use>
							</svg></a>
					</div>
				</article>
				<article class="news-widget__item">
					<a class="news-widget__image-link" href="#" aria-label="Jauns speciālists Premium Medical komandā">
						<img class="news-widget__image" src="@img/news/news-preview1.jpg" alt="Kosmētiska procedūra">
					</a>
					<div class="news-widget__item-content">
						<h3 class="news-widget__item-title"><a href="#">Premium Medical kolektīvam pievienojas jauns speciālists traumatologs-ortopēds Dr. Rūdolfs Vētra!</a></h3>
						<a class="btn btn--border-blue news-widget__more-link" href="#">Sīkāk <svg class="news-widget__button-icon" aria-hidden="true">
								<use href="__spritemap#sprite-chevron"></use>
							</svg></a>
					</div>
				</article>
			</div>
		</div>
		<div class="news-widget__current">
			<h2 class="news-widget__title">Šobrīd aktuāli</h2>
			<div class="news-widget__slider swiper" data-news-widget-slider>
				<div class="news-widget__slider-wrapper swiper-wrapper">
					<article class="news-widget__slide swiper-slide">
						<img class="news-widget__banner" src="@img/news/news-banner1.jpg" alt="Sieviete ar planšeti un vīrietis uz velotrenažiera">
						<div class="news-widget__slide-content">
							<h3 class="news-widget__slide-title">Vakcinācija pret gripu</h3>
							<p class="news-widget__slide-text">Vakcinācija pret GRIPU - labākais veids, kā sevi pasargāt rudens un ziemas periodā!</p>
						</div>
					</article>
					<article class="news-widget__slide swiper-slide">
						<img class="news-widget__banner" src="@img/news/news-banner2.jpg" alt="Premium Medical jaunumi">
						<div class="news-widget__slide-content">
							<h3 class="news-widget__slide-title">Veselības padomi</h3>
							<p class="news-widget__slide-text">Praktiski padomi ikdienas veselībai un labsajūtai.</p>
						</div>
					</article>
					<article class="news-widget__slide swiper-slide">
						<img class="news-widget__banner" src="@img/news/news-banner3.jpg" alt="Premium Medical pakalpojumi">
						<div class="news-widget__slide-content">
							<h3 class="news-widget__slide-title">Rūpes par veselību</h3>
							<p class="news-widget__slide-text">Atrodiet sev piemērotāko pakalpojumu pie mums.</p>
						</div>
					</article>
				</div>
				<div class="news-widget__slider-actions">
					<button class="slider-button slider-button--light news-widget__slider-button news-widget__slider-button--prev" type="button" data-news-widget-prev aria-label="Iepriekšējais jaunums"><svg class="slider-button__icon slider-button__icon--prev" aria-hidden="true">
							<use href="__spritemap#sprite-chevron"></use>
						</svg></button>
					<button class="slider-button slider-button--light news-widget__slider-button news-widget__slider-button--next" type="button" data-news-widget-next aria-label="Nākamais jaunums"><svg class="slider-button__icon slider-button__icon--next" aria-hidden="true">
							<use href="__spritemap#sprite-chevron"></use>
						</svg></button>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="module" src="@components/sections/news-widget/news-widget.js"></script>
