<div class="header-search" id="header-search" data-fls-header-search aria-hidden="true" inert>
	<div class="header-search__container">
		<div class="header-search__field" role="search">
			<input class="input header-search__input" type="search" name="search" autocomplete="off" placeholder="Ievadiet, ko vēlaties atrast" data-fls-input data-header-search-input>
			<button class="header-search__submit" type="button" aria-label="Meklēt">
				<svg class="header-search__submit-icon" aria-hidden="true">
					<use href="__spritemap#sprite-search"></use>
				</svg>
			</button>
		</div>

		<button class="header-search__close" type="button" aria-label="Aizvērt meklēšanu" data-header-search-close>
			<svg class="header-search__close-icon" aria-hidden="true">
				<use href="__spritemap#sprite-close"></use>
			</svg>
		</button>
	</div>
</div>
