<div class="header-about-menu" id="about-menu" data-fls-header-about-menu data-header-about-menu data-header-initially-hidden aria-hidden="true" style="display: none;">
	<div class="header-about-menu__header">
		<h2 class="header-about-menu__heading">Par mums</h2>
		<button class="header-about-menu__close" type="button" aria-label="Aizvērt sadaļu Par mums" data-header-about-close>
			<svg class="header-about-menu__close-icon" aria-hidden="true">
				<use href="__spritemap#sprite-close"></use>
			</svg>
		</button>
	</div>
	<div class="header-about-menu__content">
		<h2 class="header-about-menu__title">Klīnika</h2>
		<ul class="header-about-menu__list">
			<li><a class="header-about-menu__link" href="#">Par klīniku</a></li>
			<li><a class="header-about-menu__link" href="#">Par mums stāstā</a></li>
			<li><a class="header-about-menu__link" href="#">Intervijas</a></li>
			<li><a class="header-about-menu__link" href="#">Dāvanu kartes</a></li>
		</ul>
	</div>
</div>
