<section class="interviews section" data-fls-interviews>
	<div class="interviews__container">
		<div class="interviews__heading">
			<h2 class="interviews__title">Intervijas</h2>
			<a class="btn btn--border-blue interviews__all-link" href="#">Visas intervijas <svg class="interviews__button-icon" aria-hidden="true">
					<use href="__spritemap#sprite-chevron"></use>
				</svg></a>
		</div>
		<div class="interviews__list">
			<article class="interviews__item">
				<a class="interviews__image-link" href="#" aria-label="Soli pa solim: kopīgs ceļš pretī mērķim">
					<img class="interviews__image" src="@img/interview/Photo.jpg" alt="Ārsts pie medicīniskas iekārtas">
				</a>
				<div class="interviews__content">
					<h3 class="interviews__item-title"><a href="#">Soli pa solim: kopīgs ceļš pretī mērķim</a></h3>
					<p class="interviews__text">Traumas bieži ienāk dzīvē negaidīti - šķietami parasta diena pēkšņi maina virzienu. Tās liek mums apstāties, pārdomāt savus ieradumus un nereti no jauna apgūt pat visikdienišķākās lietas.</p>
					<a class="btn btn--border-blue interviews__more-link" href="#">Sīkāk <svg class="interviews__button-icon" aria-hidden="true">
							<use href="__spritemap#sprite-chevron"></use>
						</svg></a>
				</div>
			</article>
			<article class="interviews__item">
				<a class="interviews__image-link" href="#" aria-label="Premium Quit: Pirmā un vienīgā smēķēšanas atmešanas programma Baltijā">
					<img class="interviews__image" src="@img/interview/Photo-1.jpg" alt="Ārste konsultē pacientu">
				</a>
				<div class="interviews__content">
					<h3 class="interviews__item-title"><a href="#">Premium Quit: Pirmā un vienīgā smēķēšanas atmešanas programma Baltijā</a></h3>
					<p class="interviews__text">Premium Medical klīnikas paspārnē tapusi zinātniski pamatota un efektīva smēķēšanas atmešanas programma PremiumQuit, kas, balstoties uz Eiropas un ASV klīniku pieredzi, nodrošina individuālu pieeju katram pacientam.</p>
					<a class="btn btn--border-blue interviews__more-link" href="#">Sīkāk <svg class="interviews__button-icon" aria-hidden="true">
							<use href="__spritemap#sprite-chevron"></use>
						</svg></a>
				</div>
			</article>
			<article class="interviews__item">
				<a class="interviews__image-link" href="#" aria-label="Sievietes veselība un holistiskā ginekoloģija">
					<img class="interviews__image" src="@img/interview/Photo-2.jpg" alt="Ārste veic procedūru pacientei">
				</a>
				<div class="interviews__content">
					<h3 class="interviews__item-title"><a href="#">Sievietes veselība un holistiskā ginekoloģija: ceļš uz dziļāku izpratni par sevi</a></h3>
					<p class="interviews__text">Slimība bieži vien nav tikai ķermeņa signāls - tā var būt arī dvēseles sauciens pēc līdzsvara. Mūsdienu sieviete arvien biežāk meklē ne vien simptomu mazināšanu, bet dziļāku izpratni par sevi, savu ķermeni un tā vajadzībām.</p>
					<a class="btn btn--border-blue interviews__more-link" href="#">Sīkāk <svg class="interviews__button-icon" aria-hidden="true">
							<use href="__spritemap#sprite-chevron"></use>
						</svg></a>
				</div>
			</article>
			<article class="interviews__item">
				<a class="interviews__image-link" href="#" aria-label="Uzplaukst kā roze: rūpes par sievietes intīmo veselību">
					<img class="interviews__image" src="@img/interview/Photo-3.jpg" alt="Ārste baltā halātā">
				</a>
				<div class="interviews__content">
					<h3 class="interviews__item-title"><a href="#">Uzplaukst kā roze: rūpes par sievietes intīmo veselību</a></h3>
					<p class="interviews__text">Mūsdienās arvien lielāku uzmanību iegūst intīmās veselības atjaunošanas metodes, aicinot sievietes rūpēties par savu ķermeni un labsajūtu.</p>
					<a class="btn btn--border-blue interviews__more-link" href="#">Sīkāk <svg class="interviews__button-icon" aria-hidden="true">
							<use href="__spritemap#sprite-chevron"></use>
						</svg></a>
				</div>
			</article>
		</div>
	</div>
</section>

<script type="module" src="@components/sections/interviews/interviews.js"></script>
