<section class="partners section" data-fls-partners>
	<div class="partners__container">
		<div class="partners__heading">
			<h2 class="partners__title">Sadarbības partneri</h2>
			<div class="partners__actions">
				<button class="slider-button slider-button--dark" type="button" data-partners-prev aria-label="Iepriekšējie partneri"><svg class="slider-button__icon slider-button__icon--prev" aria-hidden="true">
						<use href="__spritemap#sprite-chevron"></use>
					</svg></button>
				<button class="slider-button slider-button--dark" type="button" data-partners-next aria-label="Nākamie partneri"><svg class="slider-button__icon slider-button__icon--next" aria-hidden="true">
						<use href="__spritemap#sprite-chevron"></use>
					</svg></button>
			</div>
		</div>
		<div class="partners__slider swiper" data-partners-slider>
			<div class="partners__wrapper swiper-wrapper">
				<a class="partners__slide swiper-slide" href="#" aria-label="Klīnika DiaMed"><img class="partners__image" src="@img/partners/Logo_02 2.jpg" alt="Klīnika DiaMed"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Rīgas 1. slimnīca"><img class="partners__image" src="@img/partners/Logo_02 3.jpg" alt="Rīgas 1. slimnīca"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="GenEra"><img class="partners__image" src="@img/partners/Logo_02 4.jpg" alt="GenEra"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="E. Gulbja laboratorija"><img class="partners__image" src="@img/partners/Logo_02 5.jpg" alt="E. Gulbja laboratorija"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Asper"><img class="partners__image" src="@img/partners/Logo_02 6.jpg" alt="Asper"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Medicīnas centrs ARS"><img class="partners__image" src="@img/partners/Logo_02 7.jpg" alt="Medicīnas centrs ARS"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Sadarbības partneris"><img class="partners__image" src="@img/partners/Logo_02 8.jpg" alt="Sadarbības partneris"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Sadarbības partneris"><img class="partners__image" src="@img/partners/Logo_02 9.jpg" alt="Sadarbības partneris"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Sadarbības partneris"><img class="partners__image" src="@img/partners/Logo_02 10.jpg" alt="Sadarbības partneris"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Sadarbības partneris"><img class="partners__image" src="@img/partners/Logo_02 11.jpg" alt="Sadarbības partneris"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Sadarbības partneris"><img class="partners__image" src="@img/partners/Logo_02 12.jpg" alt="Sadarbības partneris"></a>
				<a class="partners__slide swiper-slide" href="#" aria-label="Sadarbības partneris"><img class="partners__image" src="@img/partners/Logo_02 13.jpg" alt="Sadarbības partneris"></a>
			</div>
		</div>
	</div>
</section>

<script type="module" src="@components/sections/partners/partners.js"></script>
