// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройка стилей по умолчанию
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "Manrope"; // Шрифт по умолчанию
$fontSecond: "Unbounded";
$fontSize: 16; // Размер шрифта по умолчанию (де 16 - размер шрифта по умолчанию из макета)

// Основной цвет
$mainColor: #202325; // Цвет шрифта по умолчанию
$Black: #000;
$White: #fff;
$DGrey: #445056;
$LGrey: #f7f7f7;
$DBlue: #0D3A5E;
$Link: #0A60A7;
$Yellow: #FFC100;

$transition: 0.3s;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройка адаптивной сетки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Минимальная ширина страницы
$minWidth: 420;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = без ограничения)
$maxWidthContainer: 1600;
// Общий отступ у контейнера
// (30 = по 15px Левый и правый, 0 = нет оступа)
$containerPadding: 48;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$smallPC: 1439.98;
$notebook: 1279.98;
$tablet: 1023.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98; // Телефоны L
$mobileM: 574.98; // Телефоны M
$mobileSmall: 479.98; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинту (контейнер меняет свою ширину по брейк-поинту)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
