// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Подключение CSS-переменных
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Headings
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5 {
	font-family: $fontSecond;
	letter-spacing: -0.03em;
	line-height: 1.2;
}

h1 {
	font-weight: 400;
	@include adaptiveValue("font-size", 56, 36, 0, $tablet, $minWidth);
}

h2 {
	font-weight: 300;
	@include adaptiveValue("font-size", 40, 28, 0, $tablet, $minWidth);
}

h3 {
	@include adaptiveValue("font-size", 32, 24, 0, $tablet, $minWidth);
}

h4 {
	@include adaptiveValue("font-size", 24, 20, 0, $tablet, $minWidth);
}

h5 {
	@include adaptiveValue("font-size", 20, 18, 0, $tablet, $minWidth);
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Подключение общих удаленных шрифтов (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стили тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	@include adaptiveValue("font-size", 18, 16, 0, $tablet, $minWidth);

	// Скролл заблокован
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обертка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Ограничивающий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[class*="__container"] {
	max-width: #{$containerWidth}px;
	padding-inline: #{math.div($containerPadding, 2)}px;
	margin: 0 auto;
}

.section {
	@include adaptiveValue("padding-block", 84, 40, 2, $maxWidth, $tablet);
	@include adaptiveValue("padding-block", 40, 32, 3, $tablet, $minWidth);
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Общие стили для всего сайта
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
img,
video {
	display: block;
}

.icon {
	display: block;
	width: 24px;
	height: 24px;
	flex: 0 0 24px;
}

.socials {
	--socials-size: 54px;
	--socials-icon-size: 22px;
	display: flex;
	gap: 12px;

	// .socials__link
	&__link {
		display: inline-flex !important;
		align-items: center;
		justify-content: center;
		width: var(--socials-size);
		height: var(--socials-size);
		color: $DBlue;
		background-color: $LGrey;
		border-radius: 10px;

		@media (any-hover: hover) {
			&:hover {
				.socials__icon {
					transform: rotate(12deg) scale(1.12);
				}
			}
		}
	}

	// .socials__icon
	&__icon {
		width: var(--socials-icon-size);
		height: var(--socials-icon-size);
		color: currentColor;
		fill: currentColor;
		stroke: currentColor;
		transition: transform $transition ease;
	}
}

// Анимации при наведении
[class*="link-"] {
	position: relative;
	white-space: nowrap;

	&::before {
		content: "";
		display: block;
		width: 0;
		border-bottom: 1px solid;
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: 0;
		transition: $transition ease all 0s;
	}
}

.link-hover {
	@media (any-hover: hover) {
		&:hover {
			&::before {
				opacity: 1;
				width: 100%;
			}
		}
	}
}

.link-underline {
	&::before {
		width: 100%;
		opacity: 1;
	}

	@media (any-hover: hover) {
		&:hover {
			&::before {
				opacity: 0;
				width: 0%;
			}
		}
	}
}

._content {
	& > * {
		margin-top: 16px;
		margin-bottom: 16px;
	}

	:first-child {
		margin-top: 0;
	}
	:last-child {
		margin-bottom: 0;
	}
}
