<section class="counseling section" data-fls-counseling>
	<div class="counseling__container">
		<h1 class="counseling__title">Konsultācijas pieaugušajiem</h1>
		<div class="counseling__body">
			<div class="counseling__image-wrap">
				<img class="counseling__image" src="@img/gallery/counseling1.jpg" alt="Ārsts veic sejas procedūru pacientei">
			</div>
			<div class="counseling__content">
				<p class="counseling__lead">Medicīnas klīnika Premium Medical ir mūsdienīga klīnika, kurā profesionālas un kvalitatīvas konsultācijas, izmeklējumus un ārstēšanu nodrošina vairāk nekā 110 ārstu – speciālistu!</p>
				<div class="counseling__text">
					<p>Klienti, kas Premium Medical sauc par savu klīniku, var apliecināt – šīs klīnikas vizītkarte ir īpaša un personalizēta pieeja katram pacientam. Katrs ārsts ir orientēts uz kvalitatīvu un cieņpilnu pacientu aprūpi. Klīnikā pie speciālistiem var pierakstīties īsā laikā - jau tajā pašā vai nākamajā nedēļā.</p>
					<p>Veselības klīnika Premium Medical piedāvā iespēju iegādāties veselības Primārās aprūpes karti, kas ļaus Tev justies drošam par savu veselību visa gada garumā. <a href="#">Primārās Aprūpes karte</a> garantēs iespēju saņemt primāro ģimenes ārsta palīdzību un konsultācijas vienmēr, kad tas ir nepieciešams, apmeklējumu reizēs paredzot arī veselības profilaktiskās pārbaudes.</p>
					<p>Profilaktiskai veselības pārbaudei aicinām izvēlēties kādu no <a href="#">Premium Medical CHECK UP veselības programmām</a>. Check-up programma atkarībā no cilvēka vecuma un dzīvesveida paredz nepieciešamos individuālos izmeklējumus, lai pēc iespējas savlaicīgāk un precīzāk noteiktu pastāvošos veselības riskus un pēc iespējas efektīvāk tos novērstu.</p>
				</div>
			</div>
		</div>
		<div class="counseling__specialties">
			<h2 class="counseling__specialties-title">Vizītes pie speciālista</h2>
			<div class="counseling__specialties-list">
				<a class="counseling__specialty" href="#">Akupunktūra <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Alergoloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Endokrinoloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Fleboloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Gastroenteroloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Geriatrija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Ginekoloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Mammoloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Miega apnoja <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Muguras sāpes <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Neiroloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Nefroloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Kardioloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
				<a class="counseling__specialty" href="#">Kardioloģija <svg class="counseling__specialty-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></a>
			</div>
		</div>
	</div>
</section>

<script type="module" src="@components/sections/counseling/counseling.js"></script>
