<main class="page">
	<include src="@components/sections/hero/hero.html" locals='{}'></include>
	<include src="@components/sections/news-widget/news-widget.html" locals='{}'></include>
	<include src="@components/sections/programs-widget/programs-widget.html" locals='{}'></include>
	<include src="@components/sections/features/features.html" locals='{}'></include>
	<include src="@components/sections/about-clinic/about-clinic.html" locals='{}'></include>
	<include src="@components/sections/interviews/interviews.html" locals='{}'></include>
	<include src="@components/sections/partners/partners.html" locals='{}'></include>
</main>
