<section class="features section" data-fls-features>
	<div class="features__container">
		<h2 class="features__title">Noderīgas saites</h2>
		<div class="features__slider swiper" data-features-slider>
			<div class="features__list swiper-wrapper">
				<article class="features__item swiper-slide">
					<img class="features__icon" src="@img/icons/icon1.svg" alt="" aria-hidden="true">
					<h3 class="features__item-title">Dāvanu kartes</h3>
					<p class="features__text">Premium Medical dāvanu kartes - rūpes par saviem mīļajiem. Premium Medical dāvanu karti var iegādāties klīnikā vai attālināti.</p>
					<a class="btn btn--primary btn--small features__link" href="#">Sīkāk</a>
				</article>
				<article class="features__item swiper-slide">
					<img class="features__icon" src="@img/icons/icon2.svg" alt="" aria-hidden="true">
					<h3 class="features__item-title">Veselības apdrošināšana</h3>
					<p class="features__text">Veselības apdrošināšana ir lielisks veids, kā kvalitatīvi parūpēties par savu veselību, labsajūtu un pat drošību.</p>
					<a class="btn btn--primary btn--small features__link" href="#">Sīkāk</a>
				</article>
				<article class="features__item swiper-slide">
					<img class="features__icon" src="@img/icons/icon1.svg" alt="" aria-hidden="true">
					<h3 class="features__item-title">Dāvanu kartes</h3>
					<p class="features__text">Premium Medical dāvanu kartes - rūpes par saviem mīļajiem. Premium Medical dāvanu karti var iegādāties klīnikā vai attālināti.</p>
					<a class="btn btn--primary btn--small features__link" href="#">Sīkāk</a>
				</article>
				<article class="features__item swiper-slide">
					<img class="features__icon" src="@img/icons/icon3.svg" alt="" aria-hidden="true">
					<h3 class="features__item-title">Pakalpojumu sniegšana pastiprinātas drošības un komforta apstākļos</h3>
					<p class="features__text">Klīnika Premium Medical turpina nodrošināt pakalpojuma sniegšanu pēc standarta darba laika...</p>
					<a class="btn btn--primary btn--small features__link" href="#">Sīkāk</a>
				</article>
			</div>
		</div>
	</div>
</section>

<script type="module" src="@components/sections/features/features.js"></script>
