<li class="menu__item menu__item_has-children" data-fls-menuhaschildren>
  <a href="#" class="menu__link link-hover">Услуги</a>

  <button type="button" class="menu__arrow" aria-expanded="false" aria-controls="submenu-services" tabindex="-1">
    <svg class="icon" aria-hidden="true">
      <use href="__spritemap#sprite-select"></use>
    </svg>
  </button>

  <ul class="menu__sub-list" id="submenu-services">
    <li><a href="#">Сотрудничество</a></li>
    <li><a href="#">Библиотека</a></li>
  </ul>
</li>