<div class="header-catalog" data-fls-headercatalog>
  <button type="button" class="header-catalog__toggle menu__link">
    <span class="header-catalog__burger"></span>
    <span>Каталог</span>
  </button>

  <div class="header-catalog__wrapper" style="display: none;">
    <div class="header-catalog__container">
      <button type="button" class="header-catalog__toggle menu__link">
        <span>Каталог</span>
      </button>

      <div class="header-catalog__tabs">
        <nav class="header-catalog__nav">
          <button class="header-catalog__title">
            <span>Моющие пылесосы</span>
            <svg class="icon" aria-hidden="true">
              <use href="__spritemap#sprite-select"></use>
            </svg>
          </button>

          <button class="header-catalog__title">
            <span>Пылесосы</span>
            <svg class="icon" aria-hidden="true">
              <use href="__spritemap#sprite-select"></use>
            </svg>
          </button>

          <a href="archive-products.html" class="header-catalog__title"> <span>Другие пылесосы</span> </a>
        </nav>

        <div class="header-catalog__content">
          <div class="header-catalog__body">
            <ul class="header-catalog__list">
              <button type="button" class="header-catalog__close menu__link">Моющие пылесосы</button>

              <li class="header-catalog__item"> <a href="single-product.html" class="header-catalog__link">Минимойка Karcher K 6 Compact</a> </li>
            </ul>

            <div class="header-catalog__block">
              <div class="header-catalog__item">
                <!-- контент -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>