.logo {
  display: flex;
  align-items: center;
  
  // .logo__link
  &__link {
    display: inline-flex;
    align-items: center;
  }
  a.logo__link {
    @media (any-hover: hover) {
      transition: $transition ease opacity 0s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
