<section class="programs-widget section" data-fls-programs-widget>
	<div class="programs-widget__container">
		<div class="programs-widget__intro">
			<h2 class="programs-widget__title">Veselības un CHECK-UP programmas</h2>
			<p class="programs-widget__text">Īss apraksts. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<div class="programs-widget__actions">
				<button class="slider-button slider-button--dark programs-widget__button programs-widget__button--prev" type="button" data-programs-widget-prev aria-label="Iepriekšējā programma"><svg class="slider-button__icon slider-button__icon--prev" aria-hidden="true">
						<use href="__spritemap#sprite-chevron"></use>
					</svg></button>
				<button class="slider-button slider-button--dark programs-widget__button programs-widget__button--next" type="button" data-programs-widget-next aria-label="Nākamā programma"><svg class="slider-button__icon slider-button__icon--next" aria-hidden="true">
						<use href="__spritemap#sprite-chevron"></use>
					</svg></button>
			</div>
		</div>
		<div class="programs-widget__slider swiper" data-programs-widget-slider>
			<div class="programs-widget__wrapper swiper-wrapper">
				<a class="programs-widget__slide swiper-slide" href="#">
					<img class="programs-widget__image" src="@img/news/news-banner2.jpg" alt="Ārsts Premium Medical klīnikā">
					<span class="programs-widget__slide-title">CHECK-UP sievietēm</span>
				</a>
				<a class="programs-widget__slide swiper-slide" href="#">
					<img class="programs-widget__image" src="@img/news/news-banner3.jpg" alt="Sieviete vingro parkā">
					<span class="programs-widget__slide-title">Individuālā veselības pārbaude CHECK-UP</span>
				</a>
				<a class="programs-widget__slide swiper-slide" href="#">
					<img class="programs-widget__image" src="@img/news/news-banner4.jpg" alt="Bērns ar ārsta stetoskopu">
					<span class="programs-widget__slide-title">Metabolās veselības CHECK-UP</span>
				</a>
				<a class="programs-widget__slide swiper-slide" href="#">
					<img class="programs-widget__image" src="@img/news/news-banner3.jpg" alt="Sieviete vingro parkā">
					<span class="programs-widget__slide-title">CHECK-UP programmas</span>
				</a>
				<a class="programs-widget__slide swiper-slide" href="#">
					<img class="programs-widget__image" src="@img/news/news-banner1.jpg" alt="Sieviete ar planšeti un vīrietis uz velotrenažiera">
					<span class="programs-widget__slide-title">Kardio CHECK-UP</span>
				</a>
				<a class="programs-widget__slide swiper-slide" href="#">
					<img class="programs-widget__image" src="@img/news/news-banner4.jpg" alt="Bērns ar ārsta stetoskopu">
					<span class="programs-widget__slide-title">CHECK-UP bērniem</span>
				</a>
			</div>
		</div>
		<div class="programs-widget__actions programs-widget__actions--mobile">
			<button class="slider-button slider-button--dark programs-widget__button programs-widget__button--prev" type="button" data-programs-widget-prev aria-label="Iepriekšējā programma"><svg class="slider-button__icon slider-button__icon--prev" aria-hidden="true">
					<use href="__spritemap#sprite-chevron"></use>
				</svg></button>
			<button class="slider-button slider-button--dark programs-widget__button programs-widget__button--next" type="button" data-programs-widget-next aria-label="Nākamā programma"><svg class="slider-button__icon slider-button__icon--next" aria-hidden="true">
					<use href="__spritemap#sprite-chevron"></use>
				</svg></button>
		</div>
	</div>
</section>

<script type="module" src="@components/sections/programs-widget/programs-widget.js"></script>
