<section class="about-clinic section" data-fls-about-clinic>
	<div class="about-clinic__container">
		<div class="about-clinic__content">
			<h2 class="about-clinic__title">Par klīniku</h2>
			<p class="about-clinic__lead">21. gadsimtā pacienti pret medicīnu ir prasīgāki, jo mūsdienās zināšanas gan par veselības saglabāšanu, gan par slimībām ir plaši pieejamas.</p>
			<a class="about-clinic__adaptive-image about-clinic__adaptive-image--mobile" href="#" data-fls-gallery aria-label="Atvērt attēlu"><img src="@img/gallery/mobile.jpg" alt="Premium Medical klīnikas procedūra"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
			<p class="about-clinic__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			<div class="about-clinic__contacts">
				<a class="about-clinic__contact" href="tel:+37166011160"><svg class="about-clinic__contact-icon" aria-hidden="true"><use href="__spritemap#sprite-phone"></use></svg><span>+371 660 111 60<br>+371 248 811 11 <small>(tikai zvaniem)</small></span></a>
				<a class="about-clinic__contact" href="mailto:info@premiummedical.lv"><svg class="about-clinic__contact-icon" aria-hidden="true"><use href="__spritemap#sprite-email"></use></svg><span>info@premiummedical.lv</span></a>
				<div class="about-clinic__contact"><svg class="about-clinic__contact-icon" aria-hidden="true"><use href="__spritemap#sprite-location"></use></svg><span>13.janvāra iela 3, 2. stāvs, Rīga, LV - 1050</span></div>
				<div class="about-clinic__contact"><svg class="about-clinic__contact-icon" aria-hidden="true"><use href="__spritemap#sprite-time"></use></svg><span>Pr. - Pk.: 8:00-20:00<br>Se. - Sv.: Brīvs<small>Zvanu centra darba laiks<br>katru darba dienu 8:00-19:00</small></span></div>
			</div>
			<div class="about-clinic__actions"><button class="btn btn--primary about-clinic__appointment" type="button" data-fls-button data-fls-popup-link="appointment">E-Pieraksts</button><a class="btn btn--border-blue about-clinic__about-link" href="#">Par mums stāsta</a></div>
		</div>
		<div class="about-clinic__gallery" data-fls-gallery>
			<div class="about-clinic__gallery-wrapper">
			<div class="about-clinic__gallery-row">
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo.jpg" alt="Sieviete kosmetoloģijas kabinetā"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo-3.jpg" alt="Sieviete ar sejas krēmu"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo-5.jpg" alt="Kosmētiska procedūra"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
			</div>
			<div class="about-clinic__gallery-row">
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo-1.jpg" alt="Sieviete kosmetoloģijas kabinetā"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo-6.jpg" alt="Procedūra klīnikā"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
			</div>
			<div class="about-clinic__gallery-row">
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo-7.jpg" alt="Kosmetoloģijas procedūra"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo-2.jpg" alt="Sieviete kosmetoloģijas kabinetā"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
				<a class="about-clinic__gallery-link" href="#" aria-label="Atvērt attēlu"><img class="about-clinic__image" src="@img/gallery/Photo-4.jpg" alt="Kosmētiska procedūra"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
			</div>
			</div>
		</div>
		<a class="about-clinic__adaptive-image" href="#" data-fls-gallery aria-label="Atvērt attēlu"><img src="@img/gallery/tablet.jpg" alt="Premium Medical klīnikas procedūra"><svg class="about-clinic__zoom-icon" aria-hidden="true"><use href="__spritemap#sprite-search"></use></svg></a>
	</div>
</section>

<script type="module" src="@components/sections/about-clinic/about-clinic.js"></script>
