<div class="mega-menu" id="services-menu" data-header-services-menu data-header-initially-hidden aria-hidden="true" style="display: none;">
	<div class="mega-menu__container">
		<div class="mega-menu__header">
			<h2 class="mega-menu__heading">Pakalpojumi</h2>
			<button class="mega-menu__close" type="button" aria-label="Aizvērt pakalpojumu izvēlni" data-header-services-close>
				<svg class="mega-menu__close-icon" aria-hidden="true">
					<use href="__spritemap#sprite-close"></use>
				</svg>
			</button>
		</div>
		<div class="mega-menu__groups" data-fls-spollers="767.98,max">
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Pieaugušajiem</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Konsultācijas pieaugušajiem</a></li>
					<li><a class="mega-menu__link" href="#">Manipulācijas un procedūras</a></li>
					<li><a class="mega-menu__link" href="#">Personalizēta medicīna</a></li>
					<li><a class="mega-menu__link" href="#">Ārstu mājas vizītes</a></li>
					<li><a class="mega-menu__link" href="#">Aviācijas medicīna</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Bērniem</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Konsultācijas bērniem</a></li>
					<li><a class="mega-menu__link" href="#">Diagnostika bērniem</a></li>
					<li><a class="mega-menu__link" href="#">Dienas terapijas pakalpojumi</a></li>
					<li><a class="mega-menu__link" href="#">Bobata metode</a></li>
					<li><a class="mega-menu__link" href="#">Ārstu mājas vizītes</a></li>
					<li><a class="mega-menu__link" href="#">Vakcinācija bērniem</a></li>
					<li><a class="mega-menu__link" href="#">Primārās aprūpes karte bērniem</a></li>
					<li><a class="mega-menu__link" href="#">CHECK-UP topošajiem pirmklasniekiem</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Grūtniecēm</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Grūtnieču aprūpe</a></li>
					<li><a class="mega-menu__link" href="#">Izmeklējumi grūtniecēm</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Diagnostika</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Attēlu diagnostika</a></li>
					<li><a class="mega-menu__link" href="#">Plaušu slimību izmeklējumi</a></li>
					<li><a class="mega-menu__link" href="#">Sirds slimību izmeklējumi</a></li>
					<li><a class="mega-menu__link" href="#">Dermatoloģiskie izmeklējumi</a></li>
					<li><a class="mega-menu__link" href="#">Ginekoloģiskie izmeklējumi</a></li>
					<li><a class="mega-menu__link" href="#">LOR izmeklējumi</a></li>
					<li><a class="mega-menu__link" href="#">Oftalmoloģija</a></li>
					<li><a class="mega-menu__link" href="#">Ģenētiskie un laboratorijas testi</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Programmas</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">CHECK-UP programmas</a></li>
					<li><a class="mega-menu__link" href="#">PremiumQuit smēķēšanas atmešanas programma</a></li>
					<li><a class="mega-menu__link" href="#">Garantēta veselības aprūpe visa gada garumā</a></li>
					<li><a class="mega-menu__link" href="#">Primārās aprūpes karte bērniem</a></li>
					<li><a class="mega-menu__link" href="#">Svara korekcijas programma</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Fizioterapija</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Ārstnieciskā masāža</a></li>
					<li><a class="mega-menu__link" href="#">Slinga terapija</a></li>
					<li><a class="mega-menu__link" href="#">Ārstnieciskā vingrošana</a></li>
					<li><a class="mega-menu__link" href="#">Šrotas metode skoliozes ārstēšanai</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Estētiskā medicīna</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Rekreācijas procedūras</a></li>
					<li><a class="mega-menu__link" href="#">Ķermenim</a></li>
					<li><a class="mega-menu__link" href="#">Sejai</a></li>
					<li><a class="mega-menu__link" href="#">Estētiskās injekcijas</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Zobārstniecība</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Zobārstniecība pieaugušajiem</a></li>
					<li><a class="mega-menu__link" href="#">Zobārstniecība bērniem</a></li>
				</ul>
				</div>
			</details>
			<details class="mega-menu__group">
				<summary class="mega-menu__title">Avīācijas medicīna</summary>
				<div class="mega-menu__body">
				<ul class="mega-menu__list">
					<li><a class="mega-menu__link" href="#">Aviācijas medicīna</a></li>
				</ul>
				</div>
			</details>

			<aside class="mega-menu__notice">
				<div class="mega-menu__notice-header">!!! Šobrīd aktuāli</div>
				<div class="mega-menu__notice-body">
					<h2 class="mega-menu__notice-title">Vakcinācija pret gripu</h2>
					<p>Vakcinācija pret GRIPU - labākais veids, kā sevi pasargāt rudens un ziemas periodā!</p>
				</div>
			</aside>
		</div>
	</div>
</div>
