<section class="footer-info" data-fls-footer-info>
	<div class="footer-info__container">
		<div class="footer-info__main">
			<div class="footer-info__contacts">
				<div class="footer-info__contacts-content">
				<div><span>Tālrunis</span><a href="tel:+37166011160">+371 660 111 60</a><a href="tel:+37124881111">+371 248 811 11 <small>(tikai zvaniem)</small></a></div>
				<div><span>E-pasts</span><a href="mailto:info@premiummedical.lv">info@premiummedical.lv</a></div>
				<div><span>Adrese</span>
					<p>13.janvāra iela 3, 2. stāvs,<br>Rīga, LV - 1050</p>
				</div>
				<div><span>Darba laiks</span>
					<p>Pr. - Pk.: 09:00 - 20:00<br>Sestdien.: 09:00 - 17:00<br>Svētdien.: Brīvs</p>
				</div>
				</div>
				<div class="footer-info__button"><button class="btn btn--primary" type="button" data-fls-button data-fls-popup-link="appointment">E-Pieraksts</button></div>
				<div class="footer-info__socials">
					<div class="socials">
						<a class="socials__link" href="#" aria-label="Facebook"><svg class="socials__icon" aria-hidden="true"><use href="__spritemap#sprite-facebook"></use></svg></a>
						<a class="socials__link" href="#" aria-label="Instagram"><svg class="socials__icon" aria-hidden="true"><use href="__spritemap#sprite-instagram"></use></svg></a>
					</div>
				</div>
			</div>
			<div class="footer-info__nav" data-fls-spollers="767.98,max">
				<details class="footer-info__nav-column footer-list"><summary class="footer-info__nav-title footer-list__title">Par mums</summary><div class="footer-info__nav-body footer-list__body"><a href="#">Par mums</a><a href="#">Par mums stāstā</a><a href="#">Intervijas</a><a href="#">Jaunumi</a><a href="#">Kontakti</a></div></details>
				<details class="footer-info__nav-column footer-list"><summary class="footer-info__nav-title footer-list__title">Pacientiem</summary><div class="footer-info__nav-body footer-list__body"><a href="#">Ārsti</a><a href="#">Cenas</a><a href="#">Šobrīd aktuāli</a><a href="#">Apdrošināšana</a><a href="#">Dāvanu kartes</a><a href="#">Pakalpojumu sniegšana paaugstinātas drošības un komforta apstākļos</a></div></details>
				<details class="footer-info__nav-column footer-list"><summary class="footer-info__nav-title footer-list__title">Informācija</summary><div class="footer-info__nav-body footer-list__body"><a href="#">Privātuma politika</a><a href="#">Tiešsaistes pakalpojumu saņemšanas noteikumi</a></div></details>
			</div>
		</div>
		<div class="footer-info__bottom"><span>© 2026 Premium Medical, visas tiesības aizsargātas</span><span>Ārstniecības iestādes kods 0100-00532</span><a class="footer-info__developer" href="#">Izstrāde:<img src="@img/studio.png" alt="Devrise"></a></div>
	</div>
</section>
