<section class="service-cards section" data-fls-service-cards>
	<div class="service-cards__container">
		<div class="service-cards__list">
			<article class="service-cards__item">
				<h2 class="service-cards__title">Veselības apdrošināšana</h2>
				<a class="service-cards__card" href="#">
					<picture class="service-cards__picture">
						<source media="(min-width: 1024px) and (max-width: 1279.98px)" srcset="@img/gallery/Service_Box_Main_1024.jpg">
						<img class="service-cards__image" src="@img/gallery/Service_Box_Main.jpg" alt="Ārste ar pacientu rehabilitācijas kabinetā">
					</picture>
					<p class="service-cards__text">Veselības apdrošināšana ir lielisks veids, kā kvalitatīvi parūpēties par savu veselību, labsajūtu un pat drošību.</p>
					<span class="btn btn--border-blue service-cards__link">Sīkāk <svg class="service-cards__link-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></span>
				</a>
			</article>
			<article class="service-cards__item">
				<h2 class="service-cards__title">PREMIUM dāvanu karte</h2>
				<a class="service-cards__card" href="#">
					<picture class="service-cards__picture">
						<source media="(min-width: 1024px) and (max-width: 1279.98px)" srcset="@img/gallery/Service_Box_Main-1_1024.jpg">
						<img class="service-cards__image" src="@img/gallery/Service_Box_Main-1.jpg" alt="Smaidoša sieviete">
					</picture>
					<p class="service-cards__text">Premium Medical dāvanu kartes - rūpes par saviem mīļajiem</p>
					<span class="btn btn--border-blue service-cards__link">Sīkāk <svg class="service-cards__link-icon" aria-hidden="true"><use href="__spritemap#sprite-chevron"></use></svg></span>
				</a>
			</article>
		</div>
	</div>
</section>

<script type="module" src="@components/sections/service-cards/service-cards.js"></script>
