<link rel="preload" href="@fonts/Unbounded-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="@fonts/Unbounded-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="@fonts/Manrope-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="@fonts/Manrope-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="@fonts/Manrope-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="@fonts/Manrope-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="@fonts/Manrope-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
